html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #fff;
}

.md-toolbar-tools h3{
    text-transform: uppercase;
}

.md-toolbar-tools md-switch{
    margin-left: 10px;
}

md-icon.twitch-avatar svg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

md-list-item.active {
    background: #A5D6A7;
}

md-list-item.deleted {
    background: #FFEBEE;
    opacity: .8;
}


